.profile-img {
  border-radius: 999px;
  height: 200px;
  width: 200px;
  border: 5px solid black; }

.panel, .panel-1, .panel-2, .panel-3, .panel-4, .panel-5 {
  padding: 12px;
  margin: 0px 5px;
  background: #b3ff00;
  border: 5px solid #329b1c;
  height: 75px;
  width: 100px;
  float: left; }

.panel:hover, .panel-1:hover, .panel-2:hover, .panel-3:hover, .panel-4:hover, .panel-5:hover {
  background: #364d00; }

.panel-2 {
  background: yellow; }

.skill-card {
  color: black;
  margin: 10px;
  background: #4b9d1a;
  border: 2px solid #260226; }
  .skill-card .card-header {
    background: #3d8116; }
  .skill-card .card-subtitle {
    color: black; }
  .skill-card .card-description {
    width: 595px;
    color: black; }

.card-list {
  padding: 0;
  margin: 0;
  list-style: none; }

.card-item {
  display: inline-block; }

.title {
  color: #730773;
  padding: 10px 20px;
  font-weight: bold; }

p {
  color: #730773; }

.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 36px;
  /* Header Height */
  margin: 0px;
  bottom: 20px;
  /* Footer Height */
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#448f18), to(#c00bc0));
  background-image: -webkit-linear-gradient(top left, #448f18, #c00bc0);
  background-image: -o-linear-gradient(top left, #448f18, #c00bc0);
  background-image: linear-gradient(to bottom right, #448f18, #c00bc0); }

nav ul {
  background-color: #448f18;
  padding: 0;
  margin: 0;
  list-style: none; }

nav li {
  display: inline-block; }

nav .link {
  color: black;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none; }

nav a:hover {
  background-color: #74f329;
  color: black; }
